<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>眉山店销售日报</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="css/Base-3.0.css">
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="js/vue-clipboard.min.js"></script>
</head>
<style>
	.el-input {
		margin-bottom: 10px;
	}
</style>

<body>
	<div id="app">
		<el-container>
			<el-main>
				<el-row>
					<el-col :span="24">
						<el-input placeholder="眉山万达鲜芋仙" v-model="name" :disabled="true">
							<template slot="prepend">门店名称</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="4000" v-model="sjxl" clearable>
							<template slot="prepend">实际销量</template>
						</el-input>
					</el-col>
					<el-col :span="24">
						<el-input placeholder="3000" v-model="qxxj" clearable>
							<template slot="prepend">钱箱现金</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="wxzf" clearable>
							<template slot="prepend">微信支付</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="zfb" clearable>
							<template slot="prepend">支付宝</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="yhk" clearable>
							<template slot="prepend">银行卡</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="mtwmxsd" clearable>
							<template slot="prepend">美团外卖线上支付</template>
							<template slot="append">单</template>
						</el-input>
					</el-col>
					<el-col :span="24">
						<el-input placeholder="0" v-model="mtwmxsy" clearable>
							<template slot="append">元</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="elmwmxsd" clearable>
							<template slot="prepend">饿了么外卖线上支付</template>
							<template slot="append">单</template>
						</el-input>
					</el-col>
					<el-col :span="24">
						<el-input placeholder="0" v-model="elmwmxsy" clearable>
							<template slot="append">元</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="mttgd" clearable>
							<template slot="prepend">美团团购</template>
							<template slot="append">单</template>
						</el-input>
					</el-col>
					<el-col :span="24">
						<el-input placeholder="0" v-model="mttgy" clearable>
							<template slot="append">元</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="tc" clearable>
							<template slot="prepend">堂吃</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="wd" clearable>
							<template slot="prepend">外带</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="ws" clearable>
							<template slot="prepend">外送</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="bs" clearable>
							<template slot="prepend">杯数</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="lks" clearable>
							<template slot="prepend">来客数</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="kdj" clearable>
							<template slot="prepend">客单价</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="xjzkxjd" clearable>
							<template slot="prepend">现金折扣小计</template>
							<template slot="append">单</template>
						</el-input>
					</el-col>
					<el-col :span="24">
						<el-input placeholder="0" v-model="xjzkxjy" clearable>
							<template slot="append">元</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="xl" clearable>
							<template slot="prepend">小料</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="0" v-model="gs" clearable>
							<template slot="prepend">生产力工时</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="晴" v-model="tq" clearable>
							<template slot="prepend">天气</template>
						</el-input>
					</el-col>
				</el-row>

				<el-input v-show="false" type="textarea" :rows="2" placeholder="请输入内容" v-model="textarea"></el-input>

				<div class="tc mb10">
					<el-button @click="count" plain type="info">总结</el-button>

					<el-button type="success" plain v-if="show" v-clipboard:copy="textarea" v-clipboard:success="onCopy" v-clipboard:error="onError">{{texttishi}}</el-button>

				</div>

				<transition name="el-fade-in-linear">
					<ul v-if="show" class="transition-box tl">
						<li>店面：{{name}}</li>
						<li>日期：{{rq}}</li>
						<li>{{xingqi}}</li>
						<li>实际销量：{{sjxl}}</li>
						<li>现金总和：{{zje}}</li>
						<li>钱箱现金：{{qxxj}}</li>
						<li>微信支付：{{wxzf}}</li>
						<li>支付宝：{{zfb}}</li>
						<li>银行卡：{{yhk}}</li>
						<li>美团外卖线上支付：{{mtwmxsd}}单{{mtwmxsy}}元</li>
						<li>饿了么外卖线上支付：{{elmwmxsd}}单{{elmwmxsy}}元</li>
						<li>美团团购：{{mttgd}}单{{mttgy}}元</li>
						<li>堂吃：{{tc}}</li>
						<li>堂吃占比：{{tczb}}</li>
						<li>外带：{{wd}}</li>
						<li>外带占比：{{wdzb}}</li>
						<li>外送：{{ws}}</li>
						<li>外送占比：{{wszb}}</li>
						<li>杯数：{{bs}}</li>
						<li>杯单价：{{bdj}}</li>
						<li>来客数：{{lks}}</li>
						<li>客单价：{{kdj}}</li>
						<li>现金折扣小计：{{xjzkxjd}}单{{xjzkxjy}}元</li>
						<li>小料：{{xl}}</li>
						<li>天气：{{tq}}</li>
						<li>生产力：{{scl}}</li>
					</ul>
				</transition>

			</el-main>
		</el-container>


	</div>
</body>
<script src="js/mswd.js"></script>

</html>